body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(50deg, red, blue, green);
}

.login-box {
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(100deg, blue, lightblue);
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.25), 15px 15px 30px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(255, 255, 255, 0.5);
    border: solid 1px;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    background-color: #9de0fa;
}

button {
    margin: 10px;
    width: 200px;
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 4px 4px 0px black;
    transition: 0.15s ease;
}

    button:hover {
        background-color: cornflowerblue;
        transform: translate(-2px, -2px);
        box-shadow: 6px 6px 0px black;
    }

    button:active {
        transform: translate(2px, 2px);
        box-shadow: 2px 2px 0px black;
    }

@keyframes bounch {
    0%, 100% {
        scale: 1;
    }

    50% {
        scale: 1.1;
    }
}
